body {
  font-size: 0.875rem;
}

button {
  border: 1px solid black;
  margin: 1px;
  min-width: 50px;
}

.square {
  min-height: 30px;
}

* {
  box-sizing: border-box;
}

.board > div {
  display: flex;
}

.nav {
  margin-top: 3rem;
}
