:root {
  --selected-primary-color: grey;
  --selected-disabled-color: brown;
  --selected-text-color: blue;

   /* light theme */
  --light-primary-color: blue;
  --light-disabled-color: #6c757d;
  --light-text-color: white;

  /* dark theme */
  --dark-primary-color: #000000;
  --dark-disabled-color: #4a4a4b;
  --dark-text-color: red;
}

body {
  font-size: 0.875rem;
}

button {
  border: 1px solid black;
  margin: 1px;
  min-width: 50px;
  background-color: var(--selected-primary-color);
  color: var(--selected-text-color);
}

button:disabled {
  background-color: var(--selected-disabled-color);
}















body{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.square {
  min-height: 30px;
}

* {
  box-sizing: border-box;
}

.board > div {
  display: flex;
}

.nav {
  margin-top: 3rem;
}